.cart_section {
    display: flex;
}

.img_container{
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.cart_img {
    object-fit: contain;
    width: 300px;
}

.products {
    display: flex;
    width: 1000px;
    border: 3px solid rgb(145, 145, 145);
    align-items: center;
}

.img_container {
    display: flex;
}

.cart_name {
    margin: 0px 40px;
}

.cart_price {
    font-size: 25px;
}

.product_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remove_btn {
    font-size: 20px;
    color: black;
    width: 25px;
    height: 25px;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin-bottom: 150px;
    /* margin-left: 35px; */
}

.right_flex {
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 306px;
    justify-content: space-around;
}

.quantity {
    color: grey;
    font-size: 18px;
}

@media screen and (max-width: 994px) {
    .right_flex {
        margin: 0;
    }
    .products {
        width: 400px;
    }

    .cart_img {
        width: 100px;
    }
}