/* Inventory Button Styling */
.prod_button {
    margin: auto;
    background-color: #FFFFFF;
    color: black;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    border: 0;
    border-radius: 1rem;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all .4s;
}

.prod_button:hover {
    background-color: rgba(255, 255, 255, 0.26);
    transition: all .4s;
}

/* Product Grid */
/* All Card styling Below */
section > h1 {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.trend_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 425px);
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}

.trend_grid > div {
    width: 99.9%;
    height: 425px;
    background-color: rgba(19, 19, 19, 0.562);
    margin: auto;
}

.trend_grid > div > img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.prod_info > p {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 1px rgba(0, 0, 0, 0.226);
}

.costmpg {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

.price {
    flex-direction: column;
}

.price > p{
    color: rgb(255, 255, 255);
    text-shadow: 3px 1px rgba(0, 0, 0, 0.226);
    font-size: 30px;
}

.mpgcard > p {
    color: rgb(255, 255, 255);
    text-shadow: 3px 1px rgba(0, 0, 0, 0.226);
    font-size: 30px;
}

.disclaimer {
    font-size: 18px !important;
}

#car_filters label{
    font-size: 25px;
}

#car_filters input{
    transform: scale(2.5);
    width: 55px;
}

#car_filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: grey;
    padding: 50px;
    width: 300px;
    height: 100%;
}

#car_filters p {
    cursor: pointer;
    font-size: 16px;
    color: red;
}

#car_filters p:hover {
    font-size: 16px;
    color: rgb(104, 1, 1);
}

.reset_button {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.trending {
    display: flex;
}

#display {
    width: 80vw;
    justify-content: center;
}

.car_display h1 {
    margin-bottom: 20px;
}

@media screen and (max-width: 535px) {
    .filter {
        display: none;
    }

    .trend_grid div {
        width: 300px;
    }

    #trending {
        justify-content: center;
    }
}